<div id="outline-content">
    <p>Outline content</p>
    <div id="datebox">
        <div class="outlinebox-header">Dates <span class="edit-datebox"></span></div>
        <div>Start date <span class="datebox-start"></span></div>
        <div>End date<span class="datebox-end"></span></div>
    </div> 
    
    <div id="phenomenbox">
        <div class="outlinebox-header">Phenomena <span class="edit-phenomenbox"></span></div>
        <ul class="phenomenbox-phenomena"></ul>
    </div> 
    
    <div id="placebox">
        <div class="outlinebox-header">Places <span class="edit-placebox"></span></div>
        <div class="placebox-places"></div>
    </div> 
    
    <div id="resultbox">
        <div class="outlinebox-header">Result(s): <span>4</span></div>
        <a type="button"  class="resultbox-btn">DISPLAY RESULTS</a>
    </div> 
    
</div>