<div class="wizard-pager" id="wizard-conent-place">

    <div id="place-header">   
        <div id="place-toolbox">
            <a type="button" class="btn btn-default navbar-btn button-right btnLocate" data-action="placeLocate" title="Locate xout position"></a>
            <!--
            <a type="button" class="btn btn-default navbar-btn button-right btnBBox" data-action="placeBBox" title="Select the current viev"></a>
            <a type="button" class="btn btn-default navbar-btn button-right btnNear" data-action="placeNear" title="Station near your place"></a>
            -->
        </div>
    </div>
    
    <div id="wizardmap"></div>
    
</div>
<div id="wizard-buttons">
        <a type="button" class="btnBack" data-action="back">Back</a>
        <a type="button" class="btnNext" data-action="next">Next</a>
        <!--<a type="button" class="btnSkip" data-action="skip">Skip</a>-->    
</div>
<br style="clear: both" />

