<div class="wizard-pager" id="wizard-conent-time">

    <h3>latest</h3>
    <div>BRAIN</div>
    
    <h3>preset</h3>
    <div id="presets"></div>
    
    <h3 class="mt75">custom</h3>
    <div id="wizard-dateslider"></div>
    <ul class="slider-labels five-labels">
        <li>2010</li>
        <li>2011</li>
        <li>2012</li>
        <li>2013</li>
        <li>2014</li>
        <li>2015</li>
    </ul>
     
     <div class="dateInputFields"> 
         <span>Start date: </span> <input type="text" class="btn btn-default startDate" id="wizard-time-startPicker" value="start">
         <span>End date: </span> <input type="text" class="btn btn-default endDate" id="wizard-time-endPicker" value="end">
     </div>
    
    <div id="wizard-buttons">
        <a type="button" class="btnNext">Next</a>
        <a type="button" class="btnSkip">Skip</a>    
    </div>
    
    <br style="clear: both" />
    
    
</div>

