<div class="wizard-pager" id="wizard-conent-phenomen">
    
    <div class="last-selection-phenomenon-container">
    <h3>Your last selection:</h3>
    <div id="lastphenomenonselection"></div>
    </div>

    <h3>Select your favorite timeseries:</h3>
    <div class="phenomena-list form-inline"></div>
</div>

<div id="wizard-buttons">
        <a type="button" class="btnBack">Back</a>
        <a type="button" class="btnNext">Next</a>
        <a type="button" class="btnSkip">Skip</a>    
</div>
<br style="clear: both" />
